@font-face{
    font-family: "Marker";
    src: url(../src/PermanentMarker-Regular.ttf)
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url(../src/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    background-color: rgb(34, 151, 81);
    font-size: 150%;
    color: white;
}
.logo{
    font-family: "Marker";
    text-shadow: 0.125em 0.125em black;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 22%;
    max-width: 16em;
}
.navigation-button{
    color: white;
    background-color: rgb(34, 151, 81);
    border-style: solid;
    border-color: white;
    font-size: 120%;
    border-radius: .75em;
    padding: 2.5%;
    font-family: "Marker";
}
.navigation button:hover{
    border-color: black;
}
.navigation button:active{
    background-color:rgb(25, 119, 62);
}
.navigation-active{
    background-color:rgb(14, 67, 35);
}
.hero-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90%;
    width: 100%;
}
.hero-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    min-height: 30%;
}
.hero-logo{
    font-size: 150%;
    font-family: "Marker";
    color: white;
    text-shadow: 0.125em 0.125em black;
}
.hero-bottom{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-width: 40%;
    min-height: 20%;
    background-color: black;
    opacity: 70%;
    color: white;
    border-style: solid;
}
.hero-bottom h2{
    font-size: 170%;
    margin:2%;
    margin-left: 15%;
}
.hero-bottom p{
    margin:0;
    font-size: 130%;
    margin-left: 20%;
    color: white;
}
.hero-bottom a{
    font-size: 130%;
    margin-left: 20%;
    color: white;
}
.hero-bottom a:visited{
    color: white;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(34, 151, 81);
    color: white;
}