@keyframes slideInLeft {
    from {
        margin-left: 99%;
    }
    to {
        margin-left: 0%;
    }
}@keyframes slideInRight {
    from {
        margin-left: -50%;
    }
    to {
        margin-left: 0%;
    }
}
@font-face{
    font-family: "Marker";
    src: url(../src/PermanentMarker-Regular.ttf)
}
.slideInLeft{
    animation: 0.20s slideInLeft;
}
.slideInRight{
    animation: 0.20s slideInRight;
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    min-height: 5em;
    background-color: rgb(34, 151, 81);
    font-size: 1em;
    color: white;
    position: fixed;
    top: 0;
}
.logo{
    font-family: "Marker";
    text-shadow: 0.125em 0.125em black;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 22%;
    max-width: 16em;
}
.navigation-button{
    color: white;
    background-color: rgb(34, 151, 81);
    border-style: solid;
    border-color: white;
    border-radius: .75em;
    padding: 2.5%;
    font-family: "Marker";
    font-size: 1.5em;
}
.navigation button:hover{
    border-color: black;
}
.navigation button:active{
    background-color:rgb(25, 119, 62);
}
.navigation-active{
    background-color:rgb(14, 67, 35);
}
.hero-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    margin-bottom: 3em;
    min-height: 87%;
    width: 100%;
}
.hero-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    min-height: 30%;
}
.hero-logo{
    font-size: 1em;
    font-family: "Marker";
    color: white;
    text-shadow: 0.125em 0.125em black;
}
.hero-bottom{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-width: 40%;
    min-height: 20%;
    background-color: black;
    opacity: 70%;
    color: white;
    border-style: solid;
    padding: 1em;
}
.hero-bottom h2{
    font-size: 1.5em;
    margin:2%;
    margin-left: 15%;
}
.hero-bottom p{
    margin:0;
    font-size: 1em;
    margin-left: 20%;
    margin-right: 10%;
    color: white;
}
.hero-bottom a{
    font-size: 1em;
    margin-left: 20%;
    margin-right: 10%;
    color: white;
}
.hero-bottom a:visited{
    color: white;
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 47.5%);
    grid-auto-rows: minmax(350px, 33%);
    gap: 5%;
    width: 90%;
    max-width: 106em;
    height: 100%;
}
.link{
    color: white;
}
.link:visited{
    color: white;
}
.col-2{
    grid-column: 1/3;
}
.transparent{
    opacity: 75%;
}
.medium-font{
    font-size: 1.5em;
}
.large-font{
    font-size: 3em;
}
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    min-height: 100%;
    font-family: "Marker";
    color: white;
    text-shadow: 0.125em 0.125em black;
    background-color: black;
}
.menu-item:hover{
    border-color: white;
    border-style: solid;
}
.menu-title{
    font-size: 1.5em;
    margin:0;
}
.menu-item-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    margin-left: 1em;
}
.menu-image{
    max-width: 50%;
    max-height: 50%;
}
.menu-description{
    margin-top: 0;
    font-size: 1em;
}
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-family: "Marker";
    width: 60%;
    height: 40%;
    background-color: black;
    color: white;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(34, 151, 81);
    color: white;
}